test_file/pipeline/Copy_Population_Data.json
{
	"name": "Copy_Population_Data",
	"properties": {
		"activities": [
			{
				"name": "Check if file exits",
				"description": "Population",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_learningprg_raw_zp",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "Columnscount",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check if file exits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_learningprg_raw_zp",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If column count matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Columnscount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Columnscount').output.columncount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Failed status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://learnprg111.com",
								"method": "POST",
								"body": "Dummy"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy_Population_Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_learningprg_raw_zp",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_learningprg_raw_dl",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete Sourcefile",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy_Population_Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_learningprg_raw_zp",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_learning_prgsa",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-06-26T01:29:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}